.banner-section {
    background-image: linear-gradient(90deg, #ffffffd8 25%, #1d030900 83%), url(../imgs/banner.jpg);
}
#botao-navbar2 {
    background-color: rgb(0, 0, 0);
    color: white;
    border-color: white;
    box-shadow: 1px 1px 10px rgb(0, 0, 0);
}

/*CSS das Mensagens JavaScript Início*/
.mensagem_resultado .sucesso{
    font-size: 18px;
    color: green;
    position: absolute;
    display: none;
    margin-top: 50px;
    transform: translateX(-15px);
    background-color: white;
    box-shadow: 1px 1px 20px gray;
    border-radius: 100px;
    padding: 10px 30px;
}
.mensagem_resultado .erro {
    font-size: 18px;
    color: red;
    position: absolute;
    display: none;
    margin-top: 50px;
    transform: translateX(-33px);
    background-color: white;
    box-shadow: 1px 1px 20px gray;
    border-radius: 100px;
    padding: 10px 30px;
}
/*CSS das Mensagens JavaScript Fim*/

/*CSS do Formulário de Resultado Início*/
.form_resultado {
    width: auto;
    height: auto;
    margin-top: 100px;
    margin-bottom: 100px;
    display: flex;
    transform: translateY(-735px);
}
.titulo_form {
    font-size: 21px;
    font-weight: 600;
    position: relative;
    margin-bottom: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.titulo_form span {
    color: red;
}
.titulo_form::after {
    content: '';
    position: absolute;
    left: 0px;
    bottom: -12px;
    width: 235px;
    height: 3px;
    background-color: rgb(0, 0, 0);
    transform: translateX(7px);
}
.titulo_form span {
    margin-left: 5px;
}
label {
    margin-left: 20px;
    margin-top: 10px;
}
.conteudo_form {
    width: auto;
    height: auto;
    display: flex;
    box-shadow: 0px 0px 14px 9px rgba(0, 0, 0, 0.292);
    padding: 32px;
    border-radius: 50px;
    background-color: rgb(255, 255, 255);
}
.container_conteudo_form {
    display: flex;
    justify-content: center;
}
.input_box_form {
    width: 250px;
    padding: 9px 16px;
    border-radius: 100px;
    outline: none;
    box-shadow: 1px 1px 10px gray;
    border: 0px solid rgb(0, 0, 0);
    font-size: 16px;
    color: rgba(0, 0, 0, 0.67);
}
.botao_form_enviar {
    text-decoration: none;
    background-color: red;
    color: white;
    padding: 12px 25px;
    font-size:  17px;
    font-weight: 400;
    display: inline-block;
    margin-top: 40px;
    border-radius: 100px;
    transition: 500ms;
    box-shadow: 1px 1px 10px red;
    border: none;
    margin-left: 50px;
}
.botao_form_enviar:hover {
    background-color: black;
    box-shadow: 1px 1px 10px black;
}
.botao_form_enviar i{
    margin-left: 10px;
}
/*CSS do Formulário de Resultado Fim*/

/*CSS do Footer Início-----------------------------*/
footer {
    width: 100%;
    margin-top: -605px;
    height: auto;
    background-color: rgb(240, 240, 240);
}
.titulo_footer {
    font-size: 27px;
    color: black;
    font-weight: 600;
    margin-bottom: 20px;
}
.footer_navlink {
    font-size: 16px;
    font-weight: 400;
    transition: 0.2s;
}
.footer_navlink:hover {
    margin: 0px 12px;
}
.midiasocial_icones {
    display: flex;
}
.icone_app_footer {
    font-size: 25px;
    width: 55px;
    height: 55px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 30px;
    border: 3px solid rgb(255, 0, 0);
    background-color: rgb(255, 0, 0);
    color: rgb(255, 255, 255);
    cursor: pointer;
    margin: 0px 7px;
    transition: 500ms;
    box-shadow: 1px 1px 10px red;
}
.icone_app_footer:hover {
    background-color: black;
    border: black;
    box-shadow: 1px 1px 10px black;
}
.midiasocial_icones {
    margin-top: 30px;
}
#link_ondeencontrar {
    color: red;
    transition: 500ms;
}
#link_ondeencontrar:hover {
    color: black;
}
.copyright_footer {
    width: 100%;
    height: 5vh;
    background-color: rgb(199, 199, 199);
}
.conteudo_copyright_footer {
    width: 100%;
    height: 5vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.copyright_texto {
    color: rgb(0, 0, 0);
    font-size: 18px;
    font-weight: 400;
    margin: 0px;
}
/*CSS do Footer Fim--------------------------------*/